{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link {% if request.path == '/' %}active{% endif %}" href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link {% if 'quienes_somos' in request.path %}active{% endif %}" href="{% url 'quienes_somos' %}">Quiénes Somos</a>        
        </li>
        <li class="navbar__item">
            <a class="navbar__link {% if 'about' in request.path %}active{% endif %}" href="{% url 'about' %}">Acerca de</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link {% if 'contacto' in request.path %}active{% endif %}" href="{% url 'contacto' %}">Contacto</a>
        </li>
        <li class="navbar__item1">
            <a class="navbar__log {% if 'login' in request.path %}active{% endif %}" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        <li class="navbar__item2">
            <a class="navbar__log {% if 'registro' in request.path %}active{% endif %}" href="{% url 'registro' %}">Registrarse</a>
        </li>
    </ul>
</nav>