.about-section {
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    text-align: center;
}

.about-title {
    font-size: 2.5em;
    color: #007BFF;
    margin-bottom: 1em;
}

.about-text {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 2em;
    line-height: 1.6;
}

.about-subtitle {
    font-size: 1.8em;
    margin: 2em 0 1em;
    color: #007BFF;
}

.mission-card {
    background-color: #f8f9fa;
    padding: 2em;
    margin: 2em auto;
    border-radius: 12px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.388);
    max-width: 800px;
}

.icon-mission {
    font-size: 2em;
    color: #007BFF;
    margin-bottom: 0.5em;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2em;
    margin-top: 2em;
}

.team-member-card {
    background: #ffffff;
    padding: 1.5em;
    border-radius: 12px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.388);
    text-align: center;
    transition: transform 0.3s ease;
}

.team-member-card:hover {
    transform: translateY(-5px);
}

.team-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
    border: 3px solid #007BFF;
}

.team-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.team-role {
    font-size: 1em;
    color: #30b048;
}
