{% extends 'inicio.html' %}
{% load static %}

{% block title %}Iniciar Sesión - Fotority{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap">
    <script src="https://kit.fontawesome.com/869dc8f5ef.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section class="login-section" id="container">
        <div class="login-container">
            <div class="login-image">
                <img src="{% static 'images/images_login.jpg' %}" alt="Login Illustration" class="login-img">
            </div>
            <div class="login-section sign-in-container">
                <form action="/login/" method="post" class="login-form">
                    {% csrf_token %}
                    <h1 class="login-title">Iniciar Sesión</h1>

                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google" id="red"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>

                    <div class="form-group">
                        <input type="text" id="tipo_user" name="tipo_user" placeholder="Tipo de Usuario" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="cedula" name="cedula" placeholder="Número de identificación" required>
                    </div>

                    <div class="form-group">
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </div>

                    {% if form.errors %}
                        <p class="error-message">Usuario o contraseña incorrectos. Por favor, intenta de nuevo.</p>
                    {% endif %}
                    <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                    <button type="submit" class="login-button">Iniciar Sesión</button>
                    <p class="register-link">¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
                </form>
            </div>
        </div>
    </section>
{% endblock %} 