{% extends 'index.html' %}
{% load static %}

{% block title %}Mis Reportes - Photority{% endblock %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/reportes.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_session.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">    
    {% endblock %}

{% block content %}
<section class="reportes">
    <h2>Mis Reportes</h2>
    {% if reportes %}
        <ul>
            {% for reporte in reportes %}
                <li>
                    <strong>Tipo:</strong> {{ reporte.tipo_dano }} <br>
                    <strong>Prioridad:</strong> {{ reporte.prioridad }} <br>
                    <strong>Descripción:</strong> {{ reporte.descripcion }} <br>
                    {% if reporte.imagen %}
                <img src="{{ reporte.imagen.url }}" alt="Imagen del reporte" class="reporte-imagen">
            {% else %}
                <em>Sin imagen</em>
            {% endif %}
                </li>
            {% endfor %}
            
        </ul>
    {% else %}
        <p>No has reportado ningún daño aún.</p>
    {% endif %}
</section>
{% endblock %}
